<div style="margin-bottom: 10px">
    <div class="btn-group btn-group-justified bold">
        %{--<li class="${myPropertiesActive}">--}%
            <g:link action="list" class="btn btn-default ${myPropertiesActive?'btn-primary':''}">My Properties</g:link>
        %{--</li>--}%
        %{--<li class="${buyPropertiesActive}">--}%
            <g:link action="available" class="btn btn-default ${buyPropertiesActive?'btn-primary':''}">Buy Properties</g:link>
        %{--</li>--}%
        %{--<li class="${sellPropertiesActive}">--}%
            <g:link action="sell" class="btn btn-default ${sellPropertiesActive?'btn-primary':''}">Sell Properties</g:link>
        %{--</li>--}%
    </div>
</div>