<div style="margin-bottom: 10px">
    <div class="btn-group btn-group-justified bold">
        %{--<li class="${myPropertiesActive}">--}%
            <g:link action="list" class="btn btn-default ${myJobsActive?'btn-primary':''}">My Jobs</g:link>
        %{--</li>--}%
        %{--<li class="${buyPropertiesActive}">--}%
            <g:link action="available" class="btn btn-default ${findJobsActive?'btn-primary':''}">Find Jobs</g:link>
        %{--</li>--}%
    </div>
</div>