@media (min-width: 768px) {
	.container {
		width: 864px;
	}
	dl {
		margin-left: 40px;
	}
	.dl-horizontal dd {
		margin-left: 200px;
	}
}

@media (max-width: 991px) {
	/*.container {*/
		/*min-width: 400px;*/
	/*}*/
	.dl-horizontal dt {
		float: left;
		width: 160px;
		overflow: hidden;
		clear: left;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.dl-horizontal dd {
		margin-left: 180px;
	}
	.dl-horizontal dd:before,
	.dl-horizontal dd:after {
		display: table;
		content: " ";
	}
	.dl-horizontal dd:after {
		clear: both;
	}
	.dl-horizontal dd:before,
	.dl-horizontal dd:after {
		display: table;
		content: " ";
	}
	.dl-horizontal dd:after {
		clear: both;
	}
}

.dl-horizontal dt {
	text-align: left;
}

#linkSignin {
    display: block;
    height: 42px;
    width: 197px;
    text-indent: -9999px;
    background: url(/images/google-signin-sm.png) no-repeat;
}

#linkSignin:hover {
    background-image:url(/images/google-signin-hover-sm.png);
}

#linkSignin:active {
    background-image:url(/images/google-signin-press-sm.png);
}

/*.table-spaced td {*/
	/*padding-left: 20px;*/
	/*border-collapse: separate;*/
	/*border-spacing: 20px 1px;*/
/*}*/

/*.table-spaced td:first-of-type {*/
	/*padding-left: 0;*/
/*}*/

.bold {
	font-weight: bold;
}

/*.valign {*/
	/*height: 30px;*/
	/*display: table-cell;*/
	/*vertical-align: middle;*/
/*}*/

.target-link {
	font-size: 1.2em;
	font-weight: bold;
}

.heading {
	font-size: 1.2em;
	font-weight: bold;
}

.clickable {
	cursor: pointer;
}

.clickable.well:hover {
	background-color: #e5e5e5;
}

.well {
	border-radius: 6px;
	/*margin-bottom: 10px;*/
}

.table-info {
	width: 100%;
	text-align: right;
}

.table-info td:first-child,
.table-info th:first-child {
	text-align: left;
}